/* Variables */
:root {
    --primary-color: #004c91;
    --secondary-color: #00aaff;
    --accent-color: #ffaa00;
    --background-color: #f7f9fc;
    --text-color: #333;
    --font-sans: 'Segoe UI', sans-serif;
    --border-radius: 8px;
    --background: url('./assets/background.png')
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    font-family: var(--font-sans) sans-serif;
    color: var(--text-color);
    background-image: var(--background);
    background-size: cover;
    line-height: 1.6;
    overflow-x: hidden;
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

/* Header and Footer */
header, footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
}

/* Links */
a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--accent-color);
}

/* Typography */
h1, h2, h3 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Components */
button {
    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e09a00;
}

/* Card Component */
.card {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
